@import 'normalize.styl'

a
	color #cf4647
body
	//background-color: #e5e5e5
	background url(../img/fondo.png)

.linea
	background-color #9a9a9a
	width 100%
	height 1px
	margin-top 2%
.logo
	text-align center
	margin-top 15%
	img
		margin 0 auto
		text-align center

.todo
	margin-top 25%
	margin-bottom 25%
	width 100%
	
.medida
	width 60%

.nombre
	font-family 'bebas_neueregular'
	font-size 3em
	margin 10% auto
	margin-bottom 2%
	text-align center
	color #454545
	font-weight 100
	letter-spacing 2px
.oficio
	font-family 'bebas_neueregular'
	margin 0
	text-align center
	letter-spacing 1.5px
	font-size 1.3em
	font-weight 100
	color #565656
	text-transform uppercase
	margin-bottom 5%
.parrafo
	font-family 'robotoregular'
	text-align center 
	font-size 1.2em
.redline
	width 100%
	height 5px
	background-color #cf4647

.inputb
	width 100%
